.pagination {
  display: flex;
  gap: 0.5rem;
}
.pagination__itemActive {
  background: var(--color-primary-500);
}
.pagination__itemActive {
  background: var(--color-primary-500);
}
.pagination__number {
  color: var(--color-black-700);
  font-size: 0.875rem;
  padding: 0.125rem 0.375rem;
}
.pagination__numberActive {
  color: white;
}
