.errorPage__container {
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.errorPage {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.errorPage__message {
  text-align: center;
}
.errorPage__nav {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.errorPage__button {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid grey;
}
.errorPage__buttonRetry {
  color: white;
  background-color: #6a0bff;
}
