.filterSection{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.filter{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.filterTitleGrey .filterSection__title{
    color: #474747;
}